!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title
      Bellezza Naturale | #{@page_title || "Admin"}
    = stylesheet_link_tag "application", media: 'all', "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
  %body
    #header
      %h3 Bellezza Admin
    #main
      - if !flash[:notice].blank?
        .notice
          = flash[:notice]
      #content
        = yield
    #footer
      %p#copyright &#169; bellezza.io
